body {
  font-family: system-ui, sans-serif;
  padding: 2rem;
  margin: auto;
  height: auto;
}
label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}
input,
button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  box-sizing: border-box;
}
button {
  margin-top: 1.5rem;
  background-color: #305cde;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #2951ca;
}

#pipe-preview {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  max-width: 60%;
  border: 1px solid #000;
  height: 50vh;
  min-width: 400px;
}

.row {
  display: flex;
  /* row-gap: 10rem; */
  align-items: center;
  flex-wrap: wrap;
}

.row div {
  display: flex;
}

.row div label {
  width: 200px;
}

.row div input {
  min-width: 100px;
}

#output {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

label {
  text-wrap: nowrap;
  width: 50px;
  margin-top: 0;
}

input {
  max-width: 25%;
}

#gcode-output {
  width: 20%;
  min-width: 300px;
  height: 50vh;
}
